:root {
  --neutral-50: #fafaf9;
  --neutral-100: #f5f5f4;
  --neutral-150: #ebebe9;
  --neutral-200: #dcdcda;
  --neutral-300: #c4c4c1;
  --neutral-400: #9c9c99;
  --neutral-500: #787875;
  --neutral-600: #575754;
  --neutral-700: #3f3f3c;
  --neutral-800: #292927;
  --neutral-900: #171715;
  --neutral-950: #0c0c0b;
  --neutral-white: #ffffff;
  --neutral-black: #000000;
  --indigo-50: #eeeefc;
  --indigo-100: #e0dff9;
  --indigo-200: #c7c5f4;
  --indigo-300: #a5a0ec;
  --indigo-400: #8176e0;
  --indigo-500: #6352d2;
  --indigo-600: #4f3abc;
  --indigo-700: #43309e;
  --indigo-800: #372880;
  --indigo-900: #2e2368;
  --indigo-950: #1c1345;
  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #eaa70c;
  --amber-600: #ca8508;
  --amber-700: #a16207;
  --amber-800: #854f0e;
  --amber-900: #714312;
  --amber-950: #422404;
  --green-50: #ecfdf5;
  --green-100: #d1fae5;
  --green-200: #a7f3d0;
  --green-300: #6ee7b7;
  --green-400: #34d399;
  --green-500: #10b981;
  --green-600: #059669;
  --green-700: #047857;
  --green-800: #065f46;
  --green-900: #064e3b;
  --green-950: #022c22;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;
  --blue-950: #172554;
}
